<% if object.errors.any? %>
  <div style="color: red; margin-bottom: 20px;">
    <h4><%= pluralize(object.errors.count, "error") %> prohibited this <%= object.model_name.human %> from being saved:</h4>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>